{
  "semi": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "useTabs": false,
  "trailingComma": "none",
  "printWidth": 200,
  "multiline": {
    "max": 1,
    "allowFirstLine": true
  }
}
